body{
    margin: 0px;
    padding: 0px;
}

.section{
    margin-left: 300px;
    margin-top: 100px
}

.heading{
    margin-left: 350px;
}

.container{
    border: 1px solid;
    box-shadow: 5px 5px 5px 5px;
    width: 60%;
    background-color: antiquewhite;
    padding: 40px;
}

.select{
    margin: 50px;
}

.option{
    margin: 10px;
}

.btn-1{
    background-color: brown;
    height: 50px;
    width: 50px;
    border: 1px solid brown;
    color: white;
}

.btn-2{
    background-color: white;
    border: 1px solid white;
    width: 500px;
    height: 50px;
    text-align: left;
}

.right-btn{
    background-color: brown;
    height: 50px;
    width: 50px;
    border: 1px solid brown;
    color: white;
}

.crct-btn{
    background-color: white;
    border: 1px solid white;
    width: 500px;
    height: 50px;
    text-align: left;
}
